.burger-nav {
  padding: 1rem;
  color: white;
}

.burger-nav > .fas.fa-bars.fa-lg:hover {
  color: rgb(214, 214, 214);
}

.burger-nav.blue {
  background-color: blue;
}

.burger-nav.red {
  background-color: red;
}

.burger-nav.dark {
  background-color: #222;
}
