.sidebar-item {
  display: block;
  text-decoration: none;
  padding: 1rem;
  border-bottom: rgb(214, 214, 214) 0.1rem solid;
  color: rgb(214, 214, 214);
}

.sidebar-item.blue:hover {
  background-color: rgba(100, 100, 199, 0.788);
  color: white;
}

.sidebar-item.red:hover {
  background-color: rgba(233, 118, 118, 0.788);
  color: white;
}

.sidebar-item.dark:hover {
  background-color: rgba(71, 71, 71, 0.788);
  color: white;
}
