.palette-choices {
  text-align: center;
  margin-top: 25vh;
}

.palette {
  height: 5rem;
  width: 5rem;
  display: inline-block;
  margin: 1rem;
  border-radius: 50%;
}

.palette.blue {
  background-color: blue;
}

.palette.red {
  background-color: red;
}

.palette.dark {
  background-color: #222;
}
