.sidebar-nav {
  position: absolute;
  top: 0;
  width: 25vw;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-wrapper.blue {
  background-color: blue;
}

.sidebar-wrapper.red {
  background-color: red;
}

.sidebar-wrapper.dark {
  background-color: #222;
}
